/* Test */
/* ONLY FOR DEV */
.hidden {
  display: none;
}
.center {
  display: flex;
  align-items: center;
  gap: 8px;
}
/* Root */
:root {
  --whiteBackground: #fff;
  --darkBackground: #000911;
  --whiteText: #fff;
  --darkText: #1c1c1c;
  --accent: #1890FF;
  --HorizontalLine: #1e374e;
  --darkSecondBackground: #0c1720;
}
/* Import Fonts */
@font-face {
  font-family: RegularFont;
  src: url(../Fonts/SFProDisplay-Regular.ttf);
}
@font-face {
  font-family: LightFont;
  src: url(../Fonts/SFProDisplay-Light.ttf);
}
@font-face {
  font-family: BoldFont;
  src: url(../Fonts/SFProDisplay-Bold.ttf);
}
/* All def CSS */
body {
  /* background: rgb(10,10,10);
  background: linear-gradient(180deg, rgba(10,10,10,1) 0%, rgba(30,55,78,1) 100%); */
  background-color: var(--darkBackground);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  color: var(--whiteText);
  font-family: RegularFont;
}
hr {
  border: 1px solid var(--HorizontalLine);
}
.liked {
  fill: #fff;
}
.pointer {
  cursor: pointer;
}

/* Page */
.Page {
  display: flex;
  flex-direction: column;
  padding: 16px;
  margin-bottom: 50px;
  align-items: center;
}

/* Header */
.Header_Container {
  display: flex;
  width: 100%;
  padding: 16px;
  box-shadow: 0px 1px 0px var(--HorizontalLine);
  background-color: var(--darkSecondBackground);
}
.Header_Content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.Header_Avatar {
  display: flex;
  width: 35px;
  height: 35px;
}
.Header_Name {
  font-size: 20px;
  font-weight: 700;
}

/* Login Page */
.LoginPage_Enter {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.LoginPage {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  z-index: 99;
  background: rgb(10,10,10);
  background: linear-gradient(180deg, rgba(10,10,10,1) 0%, rgba(30,55,78,1) 100%);
}
.LoginPage_Container {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

/* Login Form */
.LoginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  width: 100%;
}
.LoginForm_Methods {
  display: flex;
  width: 90%;
  gap: 30px;
}
.LoginForm_Inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 90%;
}
.LoginForm_Inputs input{
  display: flex;
  background-color: var(--whiteBackground);
  padding: 12px;
  border-radius: 10px;
  color: var(--darkText);
}

/* Login Page */
.LoginPage_Options {
  display: flex;
  width: 90%;
  justify-content: space-between;
}
.LoginPage_Options-Inputs {
  display: flex;
  gap: 8px;
}

/* Buttons */
.buttonSubmit {
  background-color: var(--accent);
  padding: 8px;
  border-radius: 10px;
}
.buttonSubmit_Container {
  display: flex;
  width: 90%;
}

/* Post */
.Post-Container {
  display: flex;
  flex-direction: column;
  background-color: var(--darkSecondBackground);
  border-radius: 10px;
  gap: 10px;
  width: 340px;
  height: auto;
}
.Post-Box {
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
}
.Post-Header {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 8px;
}
.Post-Header img {
  width: 40px; 
  height: 40px; 
  object-fit: cover;
  border-radius: 999px;
}
.Post-Nav {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 8px;
}
.Post-Description {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

/* Trash */
.Notification {
  display: flex;
  width: 100%;
  padding: 16px;
  background-color: #1890FF;
  border-radius: 10px;
  align-items: center;
  gap: 20px;
}

/* Post */
.Post-image {
  width: 100%;
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  background-color: #000;
}
.Post-image img{
  width: 340px;
  height: auto;
  object-fit: cover;
}

/* Footer */
.Footer {
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  width: 100%;
  background-color: var(--darkSecondBackground);
}
.Footer_Avatar img {
  object-fit: cover;
  width: 30px;
  height: 30px;
  border-radius: 9999px;
}
.Footer_Container,
.Footer_Container svg {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: 60px;
  padding: 16px;
  width: 100%;
  gap: 50px;
  background-color: var(--darkBackground);
  box-shadow: 0px -1px 0px var(--HorizontalLine);
}

/* User List */
.User-Container_Main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.User-Container {
  display: flex;
  flex-direction: column;
  overflow-x: scroll;
  gap: 20px;
  justify-content: center;
  width: 200px;
  padding: 16px;
}
.User-Box {
  display: flex;
  flex-direction: column;
  background-color: var(--darkSecondBackground);
  border-radius: 10px;
  min-width: 120px;
  min-height: 180px;
  text-align: center;
}
.User-Box_avatar img {
  border-radius: 10px 10px 0px 0px;
  object-fit: cover;
  width: 200px;
  height: 200px;
}
.User-Box_Button button {
  background-color: #c7cde7;
  padding: 4px;
  border-radius: 20px;
  color: var(--darkText);
  width: 100px;
}
.User-Box_Nav {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 20px;
}

/* Profile Page */
.ProfilePage-Container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
}
.ProfilePage_Banner-Container {
  display: flex;
  flex-direction: column;
  width: 100%;;
  height: auto;
  position: relative;
}
.ProfilePage_Banner-Container img {
  display: flex;
  flex-direction: column;
  width: 100%;
  object-fit: cover;
  height: 180px;
}
.ProfilePage_Avatar-Container {
  position: absolute;
  bottom: 60%;
  left: 50%;
  transform: translate(-50%, 50%);
}  
.ProfilePage_Avatar-Container img {
  display: flex;
  object-fit: cover;
  width: 90px;
  height: 90px;
  border-radius: 9999px;
}
.ProfilePage_UserInfo-Container {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 35px;
  margin-top: 60px;
  text-align: center;
  border-top: 1px solid;
  padding: 16px;
  border-bottom: 1px solid;
  border-color: #0c1720;
}
.ProfilePage_UserInfo-Container p {
  font-size: 16px;
}
.ProfilePage_Avatar img {
  object-fit: cover;
  width: 90px;
  height: 90px;
  border-radius: 9999px;
}